<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Priest Live Tracking Max Update Interval (minutes)</key>
	<integer>10</integer>
	<key>Priest Max Distance from Last Update (meters)</key>
	<integer>100</integer>
	<key>User Spots Refresh Rate (minutes)</key>
	<integer>2</integer>
	<key>User Spots Max Radius (km)</key>
	<integer>20</integer>
	<key>Show Only Active Spots on the Map</key>
	<true/>
</dict>
</plist>
